PORT=3001

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=licenta

JWT_SECRET=change_this_to_a_long_random_secret

FRONTEND_BASE_URL=http://localhost:5173
EMAIL_USER=
EMAIL_PASS=

HTTPS_KEY_PATH=./certs/server.key
HTTPS_CERT_PATH=./certs/server.crt
SENSOR_DB_MIN_INTERVAL_MS=3000
